@model DeleteConfirmationViewModel
@{
    ViewBag.Title = "Delete Incident";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" name="Id" value="@Model.ID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Customer" asp-action="List" class="btn btn-primary">Cancel</a>
</form>