@model DeleteConfirmationViewModel

<div class="alert alert-danger">
    <h4 class="alert-heading"> Confirm Deletion</h4>
    <p>Are you sure you wnt to delete the following?</p>
    <ul>
        <li><strong>Name:</strong> @Model.Name</li>
        <input type="hidden" name="id value=@Model.ID" />
    </ul>
     <form method="post">
         <button type="submit" class="btn btn-danger">Delete</button>
         <a href="@Url.Action("Index", "Customer")" class="btn btn-secondary">Cancel</a>
     </form>
</div>