@model List<Product>
<table class="table table-bordered table-striped">
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @product.ProductCode
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.YearlyPrice
                </td>
                <td>
                    @product.ReleaseDate
                </td>
                <td>
                    <a  asp-controller="Product" asp-action="AddProduct">Edit</a>
                </td>
                <td>
                    <button asp-controller="Product" asp-action="List" type="button" class="btn btn-primary">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Product" asp-action="AddProduct">Add Product</a>