@model List<Product>
<table>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @product.Name
                </td>
            </tr>
        }
    </tbody>
</table>