@model List<Product>
<table class="table table-bordered table-striped">
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @product.ProductCode
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.YearlyPrice
                </td>
                <td>
                    @product.ReleaseDate
                </td>
                <td>
                    Edit button
                </td>
                <td>
                    Delete Button
                </td>
            </tr>
        }
    </tbody>
</table>